header
.header 
    .header-wrapper 
        .header-line
            .header-icon-canvas 
                img.canvas-img(src="img/canvas-icon.png", alt="")
                h2.canvas-header-text Kanvas
            .header-info 
                a.header-a(href="mailto:vlad@htmlbook.ru")  Галерея
                a.header-a(href="mailto:vlad@htmlbook.com")  Про нас
                a.header-a-tel#order-call(href="javascript:void(0);") Замовити дзвінок
.call-popup(style="display: none;")
  .call-popup-content
    span.close-popup close
    h2 Попередній дзвінок
    form
      label
        span Ім'я:
        input(type="text" placeholder="Ваше ім'я")
      label
        span Телефон:
        input(type="tel" placeholder="Ваш номер телефону")
      button(type="submit") Замовити дзвінок