header
.header 
    .header-wrapper 
        .header-line
            .header-icon-canvas 
                img.canvas-img(src="img/canvas-icon.png", alt="")
                h2.canvas-header-text Kanvas
            .header-info 
                a.header-a(href="#")  Галерея
                a.header-a(href="#")  Про нас
                a.header-a-tel(href="#") замовити дзвінок
