doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/styles.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")
        
        title Canvas
    body 
    
        include helpers/vars.pug
        include helpers/mixins.pug

        include components/header.pug

        main
            .main-wrapper 
                .main
                    .canvas-container
                        .canvas-wrapper#canvas-wrapper
                        //- .canvas-box#canvas-box
                        img.canvas-image(src="img/canvas-img.png", alt="Холст")
                            
                    .options-container
                        form.options-form
                            h2.main-option-style Виберіть розмір
                            .size-options
                                label
                                    input#size30x30(type="radio" name="size" value="30x30")
                                    span 30x30
                                label
                                    input#size30x90(type="radio" name="size" value="30x90")
                                    span 30x90
                                label
                                    input#size90x120(type="radio" name="size" value="90x120")
                                    span 90x120
                                label
                                    input#size90x150(type="radio" name="size" value="90x150")
                                    span 90x150
                                label 
                                    input.radio#toggle-custom(type="radio" name="size" value="Підрахувати")
                                    span#toggle-custom Підрахувати
                                

                            .custom-size-wrapper#custom-size-wrapper(style="display: none;")
                                .custom-size
                                    label
                                        input#width-custom-size(type="number" placeholder="Ширина")
                                    span x
                                    label
                                        input#height-custom-size(type="number" placeholder="Высота")
                                    button#button-custom-size(type="button") Подраховать
                            hr
                            h3.main-option-style Додаткові опції
                            .extra-options
                                label
                                    input.extraInput#checked-extraOption1.style-extra(type="checkbox" value="35")
                                    span.style-extra Дорожче полотно
                                label
                                    input.extraInput#checked-extraOption2.style-extra(type="checkbox" value="10")
                                    span.style-extra З рамкою
                                label
                                    input.extraInput#checked-extraOption3.style-extra(type="checkbox" value="40")
                                    span.style-extra З доставкою (Нова Пошта)
                            hr
                            .total
                                .buy-main
                                    button.buy-button(type="submit" id="buy-button") Придбати
                                .price-main
                                    span.total-label Загальна сума:
                                    span.total-price 0 грн

    <script src="js/scripts.js" type="module"></script>


        include components/footer.pug
