.header-wrapper 
    width: 100%
    margin: auto
.header-line 
    display: flex
    justify-content: space-between
    padding: 15px
    filter: drop-shadow(-0.174px 4.997px 5px rgba(0,0,0,0.05))
    background-color: #ffffff
.header-icon-canvas 
    display: flex
    flex-direction: row
    align-items: center
    gap: 10px
    img
        height: 80%
.canvas-header-text
    margin: 0
.header-info 
    display: flex
    justify-content:space-between
    align-items: center
    gap: 50px
    .header-a
        margin: unset
        font-size: 18px
        text-transform: uppercase
        color: #4c7792
        font-weight: 700
        font-family: "Open Sans"
        text-align: center
        text-decoration: none
    .header-a-tel
        text-transform: uppercase
        color: #ffffff
        font-weight: 700
        font-family: "Open Sans"
        text-align: center
        text-decoration: none
        border-radius: 10px
        background-color: #56c107
        padding: 11px 13px
        a:hover
            transform: scale(1.1)
            transition: 0.5s